//Colors
$brand-color-primary: #9446AF;  //light purple
//$brand-color-light: lighten($brand-color-primary,15%);
$brand-color-light: #de7ccb;

$gray-text: #858087; //gray text
$homepage-background-color: #E8BDAE;

$sans-serif-stack: Helvetica, Arial, sans-serif;
$photolinks-bg: "../img/bg/bg-nicepurple.jpg";
$maintext-color: inherit;



 
#home, .upcomingEvents {
	padding: 20px 0;
}

#home {
	background-color: #fff;
}

#homePage {
	background: $homepage-background-color;
}
.upcomingEvents {
	background: $homepage-background-color;
	//height: 100%;
	//max-height: 100%;
}

img.comingsoon {
	width: 50%;
}



/************ General styling *************/

html {
	//background-color: red;
	height: 100%;
}
body {
	font-family: Hind, $sans-serif-stack;
	font-size: 1.5em;
	padding-bottom: 116px;
	height: 100%;
	min-height: 50%;
	//color: $maintext-color;
	//max-height: 100%;
	//background-color: $homepage-background-color;
	background-color: 100%;
}

p {
	line-height: 2;
}

h2 {
	margin-top: 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
/************ Main Navigation styling *************/
.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
	font-family: "Shadows Into Light", $sans-serif-stack;
	color: $brand-color-primary;
	font-size: 1.5em;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
	color: $brand-color-primary;
}

/************ Info Section styling *************/
.infoSection {
	background: $brand-color-light;
	//padding-top: 20px;

	.sidemessage {
		padding-top: 20px;

		p {
			margin-bottom: 100px;
		}
	}	
} /* end of .infoSection */

.photolinks {
		background: url("../img/bg/bg-nicepurple.jpg") -200px 0;
		//padding-top: 20px;

		figure {
			position: relative;

			figcaption {
				color: white; 
			}				

			.navphoto-text {
				width: 100%;
				height: 40px;
				background: black;
				position: absolute;
				opacity: .80;
				top: 0;
				color: white;
				z-index: 5;
				padding: 2px 0 0 5px;
				letter-spacing: 1px;
			}
			
			img {
				width: 100%;
				max-width: 100%;
				height: 250px;
				border-radius: 2px;
			}
		}
	}


/************ Mission and Purpose styling *************/
.missionAndPurpose {
	padding-top: 20px;

	.heading-title {
		font-family: "Shadows Into Light", $sans-serif-stack;
		color: $brand-color-primary;
		position: relative;
		left: -1em;
		bottom: .45em;
		-webkit-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		-o-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	
	p {
		margin-bottom: 60px;
	}	

	.scripture {
		font-family: Hind, sans-serif;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 20px;
		border-color: $brand-color-light;

		.scripture-title {
			color: lighten($brand-color-primary, 23%);
		}
	}

	[class*="fa-quote"] {
		color: lighten($gray-text, 30%);
		font-size: 1.7em;
	}
}


/*********** Contact Info Area styling ************/
.contact-panel {
		border-color: transparent;
	 	box-shadow: none;

	 	.panel-heading {
		 	border-bottom: 1px solid #d29ec7;
		 	background: lighten(#d29ec7, 25%);
		}

		.info {
			font-style: italic;
		}

		.social-icons {
			font-size: 2em;
		}				 
}


/************* Footer Styles *************/
footer {
	padding: 20px 0 0;

	.social-icons {
		padding-bottom: 25px;

		i {			
			font-size: 2.2em;
			color: $brand-color-primary;
			-webkit-transition: color 200ms linear;
			-o-transition: color 200ms linear;
			transition: color 200ms linear;
		}

		i:hover {
			color: $gray-text;
		}
	}

	.copyright {
		font-size: .90em;
		color: $gray-text;
		letter-spacing: .30em;
	}
}


/*********** Image Styling ***********/
.graci-pic-bio {
	width: 250px;
	margin-bottom: 15px;
}

.speakersheet {
	width: 742px;
	height: 960px;
	box-shadow: -10px 4px 20px gray;	
	border-radius: 20px;
}


/*********** @Media Styling ***********/
@import "partials/_mediastyles.scss";
 















