///////////////////////// Colors ////////////////////////////

// brand
$brand-color-primary: #9446AF;  //light purple
$brand-color-light: lighten($brand-color-primary,35%);

// text
$gray-text: #858087; //gray text
$maintext-color: inherit;

// background
$homepage-background-color: #E8BDAE; //tannish pink
$photolinks-bg: "../img/bg/bg-nicepurple.jpg";

///////////////////////// Fonts ////////////////////////////

$sans-serif-stack: Helvetica, Arial, sans-serif;